*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#000430;
    --secondarybackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal:#24feee;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px solid white; */
    margin:120px auto 0 auto;
    max-width:500px;
}
.topBox{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    /* background-color: #ad3b3b; */
}
.num{
    width:100px;
    height:100px;
    /* border: 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--purple);
    font-size: 20px;
    font-weight: bold;
    margin-left:20px;
}
.title{
    margin-top:15px;
}
.progress-bar{
    width:100%;
    height:10px;
    border-radius: 5px;
    margin-top:10px;
    background-color: var(--secondarybackground)
}
#progress{
    /* width:50%; */
    height:10px;
    border-radius: 5px;
    background-color: var(--teal);
    transition:all 0.3s ease;
}
form{
    margin-top:30px;
    width:58%;
    display: flex;
    gap:5px;
}
#inputBox{
    flex:1;
    padding:10px;
    background:var(--background);
    border:1px solid var(--purple);
    border-radius: 5px;
    color: var(--text);
    font-size: large;
    font-weight: 400;
    outline:none;
}
#submitBtn{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: x-large;
    font-weight: bold;
}
/* button{
    height:20px;
    width:75px;
    background-color: var(--secondarybackground);
    border-radius: 5%;
    border:none;
    color: var(--text);
    padding: auto;
} */
#to-do-list{
    margin-top:20px;
    height:300px;
    width:280px;
}
/* li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
    width:280px;
    text-wrap-style: auto;
    font-size: larger;
    color: var(--text);
    margin-top:10px;
    margin-bottom:10px;
} */
#task-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 30px;
    width:60%;
    list-style-type: none;
}
.taskItem{
    display: flex;
    padding: 10px;
    background-color: var(--secondarybackground);
    border-radius:10px;
    align-items: center;
    justify-content:space-between;
    width:100%;

}
.taskItem img{
    width:24px;
    height:24px;
    margin: 0 10px;
    cursor:pointer;
}
.task{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.task input{
    width:20px;
    height:20px;
}
.task .completed{
    text-decoration: line-through;
    color: black;
}
.checkbox{
    height: 20px;
    width: 20px;
}